@model WebApp.Models.User

@{
    ViewData["Title"] = "New User";
}

<div class="row align-content-center">
    <div class="col col-sm-12 col-md-8 offset-md-2">
        <h1>Role register</h1>
        @using (Html.BeginForm(@Model.IdUsuario==0? "newUser" : "editUser", "Home", FormMethod.Post))
        {
            <input hidden="hidden" asp-for="IdUsuario" type="hidden" class="form-control">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" type="text" class="form-control" placeholder="name" autofocus="autofocus">
                <span asp-validation-for="Name" class="text-danger"></span>
                @*@Html.ValidationMessageFor(role => role.name, null, new {@class = "text-danger"})*@
            </div>

            <div>
                <button class="btn btn-primary" type="submit">Enviar</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        }
    </div>
</div>

